{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-7 mt-2 ml-5 mb-2" style="border-right: 1px solid rgb(112, 112, 112);">
                
                <div class="position-static col-7" 
                style="background-color: rgba(54, 54, 54, 0.623); padding-left: 25px; padding-right: 25px; padding-top: 10px; padding-bottom: 10px;">
                    
                    <div class="row">
                        <img width=175px height=175px src="{{current_playing.image}}">
                        <div class="col text-center" style="margin: 5% 5% 2% 5%;">
                            <h4 class="text-white" style="font-family: Verdana, Geneva;">Currently Playing</h4>
                            <h4 class="text-white" style="font-family: Cochin; padding-top: 10px;">
                                <b>{{current_playing.song}}</b><br>
                                {{current_playing.artist}}
                            </h4>
                        </div>
                    </div>
                
                </div> 

                <div class = "mt-4">
                    <h2 class="text-white" style="font-family: Helvetica; font-weight: bold;">YOUR TOP ARTISTS</h2>
                    <div class="row" >
                        {% for track in top_tracks[0:5] %}
                        <div class="col-6 mt-5">
                            <img width=200px height= 200px src="{{track.album_image}}">
                        </div>
                        <div class="col-6 mt-5">
                            <h5 class="text-white">
                                {{track.track_name}}
                            </h5>
                            <p class="text-white">
                                {{track.album_name}} - {{track.artist_name}}
                            </p>
                            <form action="{{ url_for('spotify.add_to_queue', track_id=track['track_id']) }}" method="post">
                                <input class="btn btn-success" type="submit" value="Add to Queue">
                            </form>
                        </div>
                        {% endfor %}
                    </div>
                </div>        
            </div>


            <div class="col-3 mt-2 mr-4 ml-2">
                <h2 class="text-white" style="font-family: Helvetica; font-weight: bold;">RELATED ARTISTS</h2>
            </div>
        </div>
    </div>
{% endblock %}